.All {
    background-color: #0A1929;
    padding: 20px;
    border-radius: 5px;
    width: 90vw;
    max-width: 500px;
    max-height: 320px;
    color: black;
}

.Body {
    background-color: #bdc8d4;
    padding: 20px;
    border-radius: 20px;
}

.Title {
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.Margin {
    margin-top: 10px;
}

.Input {
    width: 100%;
    height: 2vh;
    border-right: 5px solid black;
    margin-bottom: 10px;
    padding: 2px;
}

.Flex {
    display: flex;
    margin-top: 10px;
}

.DivBtt {
    text-align: center
}

.Text {
    margin-left: 5px;
}

.Btt {
    margin-top: 25px;
    width: 100%;
    height: 25px;
    border-radius: 20px;
    font-size: large;
    font-weight: bolder;
}

.Btt:hover {
    background-color: rgb(50, 14, 75);
    color: white;
    transition: .5s;
}